.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.fade-out{
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
}

.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.enter-from-bottom{
  width: 100%;
  height: 101%;
  background: white;
  position: absolute;
  animation: enterFromBottom 2s;
  -webkit-animation: enterFromBottom 2s;
  -moz-animation: enterFromBottom 2s;
  -o-animation: enterFromBottom 2s;
  -ms-animation: enterFromBottom 2s;
}

@keyframes enterFromBottom {
  0%   {top: 100vw;}
  20%  {top: 80vw}
  100% {top: 0px;}
}

@-moz-keyframes enterFromBottom {
  0%   {top: 100vw;}
  20%  {top: 80vw}
  100% {top: 0px;}
}

@-webkit-keyframes enterFromBottom {
  0%   {top: 100vw;}
  20%  {top: 80vw}
  100% {top: 0px;}
}

@-o-keyframes enterFromBottom {
  0%   {top: 100vw;}
  20%  {top: 80vw}
  100% {top: 0px;}
}

@-ms-keyframes enterFromBottom {
  0%   {top: 100vw;}
  20%  {top: 80vw}
  100% {top: 0px;}
}

.backdrop{
  background:black;
  height:100%;
  width:100%;
  position:absolute;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rotating-text{
  transform: rotate(90deg)
}

.text{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}

.center{
  text-align:center;
}
